header { width: 100%;
         height: 100px;
         background-color: black;
         color: white;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 20px;
         }
* {
box-sizing: border-box;
}

body {
margin: 0;
padding: 0;
}


.head{
 display: flex;
 gap: 10px;  
font-size: 5px;
align-items: center;
}

.az {font-size: 28px;}

.social{
  font-size: 28px;
  display: flex;
  gap: 14px; 
}

.main{
  width: 100%;
  height: 70vh;
  background-image: url(img/ogasuta458A7801_TP_V1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mains{
  text-align: center;
}

.image-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item{
  width: calc(33.333% - 10px);
}

.item img{
  width: 100%;
  display: block;
}

.item p {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
}

footer { width: 100%;
         height: 100px;
         background-color: black;
         color: white;
         position: relative;
         text-align: center;
         margin-top: 40px;
         }


 .za {font-size: 50px;}

 @media screen and (max-width: 425px) {

.az {
font-size: 28px;
}

.social {
font-size: 24px;
}

header {
height: 70px;
}
}
