header { width: 100%;
         height: 100px;
         background-color: black;
         color: white;
         position: relative;
         }

.az {font-size: 50px;}

.social{
  font-size: 40px;
  padding-left: 10px;
  position: absolute;
  top: 10px;
  right: 22px;
}

.main{
  width: 100%;
  height: 300px;
  background-image: url(img/ogasuta458A7801_TP_V1.jpg);
  background-size: cover;
  background-position: center;
}

.mains{
  text-align: center;
}

.image-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item{
  width: calc(33.333% - 10px);
}

.item img{
  width: 100%;
  display: block;
}

.item p {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
}

footer { width: 100%;
         height: 100px;
         background-color: black;
         color: white;
         position: relative;
         text-align: center;
         margin-top: 40px;
         }


 .za {font-size: 50px;}

 @media screen and (max-width: 425px) {
  header {
    flex-direction: column;
  }
 .head, .social {
          with: 100%;
          box-sizing: border-box;
 }
 }
