header { width: 100%;
         height: 100px;
         background-color: black;
         color: white;
         display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        box-sizing: border-box;
         }
.head{
 display: flex;
align-items: center;
gap: 10px;
}

.head i{
  font-size: 38px;
}



.az {font-size: 36px;}

.social{
  font-size: 28px;
  display: flex;
  gap: 12px;
}

.main{
  width: 100%;
  height: 300px;
  background-image: url(img/ogasuta458A7801_TP_V1.jpg);
  background-size: cover;
  background-position: center;
}

.mains{
  text-align: center;
}

.image-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.item{
  width: calc(33.333% - 10px);
}

.item img{
  width: 100%;
  display: block;
}

.item p {
  text-align: center;
  margin-top: 6px;
  font-size: 14px;
}

footer { width: 100%;
         height: 100px;
         background-color: black;
         color: white;
         position: relative;
         text-align: center;
         margin-top: 40px;
         }


 .za {font-size: 50px;}

 @media screen and (max-width: 425px) {
  header{
         height: 70px;
         padding: 0 12px;
  }
  .az{
      font-size: 26px;
  }
 .social{
      font-size: 22px;
      gap: 8px;
 }
.head i{
 font-size: 24px;
}
          
           }
